.modal-input.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  margin-top: 0.1rem;
  background: #fff;
  border: 1px solid #cce7ff;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(117, 197, 241, 0.25);
  list-style: none;
  padding: 0.3rem 0;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 15px;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background: #f0f8ff;
}

