.show-password-icons {
  position: absolute;
  top: 52%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #3d6b81;
  font-size: 1rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.show-password-icons:hover {
  transform: translateY(-50%) scale(1.2);
  color: #75c5f1;
}
