.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  border-radius: 25px;
  border: 1px solid #cce7ff;
  outline: none;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.password-wrapper input:focus {
  border-color: #75c5f1;
  box-shadow: 0 0 10px #75c5f1;
}

.show-password-icon {
  position: absolute;
  top: 40%;
  right: -2px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #3d6b81;
  font-size: 1rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.show-password-icon:hover {
  transform: translateY(-50%) scale(1.2);
  color: #75c5f1;
}
